@import url(https://db.onlinewebfonts.com/c/016f50054d487d421dc18257a191a3ad?family=Noteworthy+Light);
body{
    background: rgb(113,18,18);
background: linear-gradient(90deg, rgba(113,18,18,1) 15%, rgba(66,38,126,1) 59%, rgba(1,41,64,1) 100%);
}

body {
    background-color: #012940;
    font-family: cursive;
    padding: 5EM;

}

.fondoDeLaTabla {
    background-color: #42267e;
    border: rgb(255, 255, 255);
    border-radius: 200px
}

.fondoAzul {
    background-color: rgb(16, 27, 75);
}

.fondoNegro {
    background-color: rgb(103, 31, 31);
}

.imagen {
    width: 300px;
}

.textoTitulo {
    background-color: white;
    text-align: center;
    font-size: xx-large;
    color:          rgb(0, 0, 0);
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-family: "Noteworthy Light";
}

.textoParrafo {
    font-size: 1rem;
    color: rgb(255, 255, 255);
    text-align: justify;
    font-family: "Noteworthy Light";
}

.separacio {
    padding: 5em;
    background-color: rgb(255, 255, 255);
}

.textoSubtitulo {
    background-color: white;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-family: "Noteworthy Light";
    text-align: center;
    color: rgb(0, 0, 0);
}

.borde {
    border: red;
    border-radius: 10px;
}
.biñetas{   
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-family: "Noteworthy Light";
    color: #711212;
    text-align: center;
    color: rgb(255, 0, 0);
    background-color: #ffffff;
}
.despedida{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-family: "Noteworthy Light";
    text-align: center;
    font-size: xx-large;
    background-color: rgb(255, 255, 255);
}