h1 {
    color: darkolivegreen;
    border: 1px solid rebeccapurple;
}

.parrafoRojo{
    font-size: 35px;
    border: 1px solid red;
}
.parrafoAzul{
    border: 1px solid blue;
    margin-top: 120px;
    background-color: rgb(205, 170, 203);
    border: 6px solid rgb(250, 245, 114);
    padding-bottom: 120px;
}